{% extends 'fmsapp/layout.html' %}
{% load static %}
{% block title %}
All Sales
{% endblock title %}

{% block contents %}

  <section class="container">
    <div class=" p-3">
    </div>
    <div class="row">
      {%if sales %}
     
     
       <div class="col-lg-12">
        <span class="title-1 m-b-25">Sales Record</span> <span class="float-right"><a href="{% url 'fms:create_sale' %}" class="btn btn-dark">Add Sales</a></span>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Weight</th>
                                                <th>Amount</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Date</th>
                                                <th>Manage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for sl in sales  %}
                                                <tr>
                                                
                                                <td>{{sl.types |capfirst}}</td>
                                                <td>{{sl.weight |capfirst}}</td>
                                                <td>{{sl.amount}}</td>
                                                <td>{{sl.quantity}}</td>
                                                <td class="text-right">{{sl.price}}</td>
                                                <td>{{sl.created}}</td>
                                                <td><span><a href="" onclick="window.print()"><i class="fas text-primary fa-print"></i></a></span>&emsp;<span><a href="{% url 'fms:edit_sale' pk=sl.id %}"><i class="fas text-info fa-edit"></i></a></span> &emsp; <span><a href="{% url 'fms:delete_sale' pk=sl.id %}"><i class="fas text-danger fa-trash"></i></a></span></td>
                                            
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
      </div>
     
     

      {% else %}
      <div class='text-center'>
          <p class="display-4 ml-4 text-center text-danger">No Sales History</p><br>
          
          <a href="{% url 'fms:create_sale' %}" class="btn ml-4  btn-block text-center btn-outline-info">Add Record</a>
      </div>
      {% endif %}
    
    </div>
  </section>

{% endblock contents  %}