{% extends 'fmsapp/layout.html' %}
{% load static %}
{% block title %}
All Staff
{% endblock title %}

{% block contents %}

  <section class="container">
    <div class=" p-3 mb-3">
      
      {% comment %} <div class=" text-center">
        <a href="{% url 'fms:create_staff' %}" class="btn btn-block btn-dark rounded"> <i class="fas fa-plus"></i> Enrol new Staff</a>
        
      </div>    {% endcomment %}
    </div>
    <div class="row">
      {%if staffs %}
     {% for staff in staffs  %}
     
       <div class="col-lg-4">
        <div class="card">
        <div class="card-header rounded-0 bg-dark">
          <p class="lead text-center">Profile and Bio</p>
        </div>
      <div class="card-body">
        <div class="mx-auto d-block">
          <img width=80 height=80 class=" rounded-circle img-fluid mx-auto d-block" src="{{staff.image.url}}" alt="{{staff.name}} image">
          <h5 class="text-sm-center mt-2 mb-1"> {{staff.first_name | capfirst}} {{staff.last_name | capfirst}} </h5>
          <div class="location text-sm-center"><i class="fa fa-map-marker"></i> {{staff.state| capfirst}}, {{staff.country|capfirst }}</div>
          <div class="location text-sm-center"><i class="fa fa-building"></i> {{staff.department| capfirst}} Department</div>
        </div>
        <hr>
      <div class="card-text">
        <strong>Work Description:</strong>
        <p>{{staff.work_description | truncatechars:40}}</p>
      </div>
      </div>
      <div class="card-footer">
        <a href="{% url 'fms:staff_single' pk=staff.id %}"><i class=" text-info fas fa-eye"></i></a> &emsp;
        <a href="{% url 'fms:staff_edit' pk=staff.id %}"><i class=" text-primary fas fa-edit"></i></a>&emsp;
        <a href="{% url 'fms:staff_delete' pk=staff.id %}"><i class=" text-danger fas fa-trash"></i></a> &emsp;
        <a href="{% url 'fms:create_staff' %}" class=""> <i class="fas fa-plus"></i> Enrol New Staff</a>
      </div>
    </div>
    </div>
     
     {% endfor %}

      {% else %}
      <div>
          <p class="display-4 ml-4 text-danger">No Staff in the Database</p><br>
          
          <a href="{% url 'fms:create_staff' %}" class="btn ml-4  btn-block text-center btn-outline-info">Add Staff</a>
      </div>
      {% endif %}
    
    </div>
  </section>

{% endblock contents  %}