{% load static %}
<aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'fmsapp/images/icon/logo.png' %}" alt="FMS" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="/dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            
                        </li>
                        <li>
                            <a href="{% url 'fms:all_dam' %}">
                                <i class="fas fa-chart-bar"></i>Dam</a>
                        </li>
                         <li class="has-sub">
                            <a class="js-arrow" href="#"><i class="far fa-copy"></i>Departments</a>
                                <a href=" {% url 'fms:create_dept' %}"> <i class="fas fa-plus"> </i> New Department</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                              {% for d in dept  %}
                                <li>
                                    <a href="{% url 'fms:dept_single' pk=d.id %}">{{d.name}} </a>
                                </li>
                              {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'fms:all_staff' %}">
                               <i class="far fa-user"></i>Staff / Workers</a>
                        </li>
                        <li>
                            <a href="{% url 'fms:all_fish' %}">
                                <i class="far fa-folder"></i>Fish Record</a>
                        </li>
                        <li>
                            <a href="{% url 'fms:harvests' %}">
                                <i class="fas fa-clock"></i>Harvest Timeline</a>
                        </li>
                      
                    </ul>
                </nav>
            </div>
        </aside>
