{% extends 'fmsapp/layout.html' %}
{% load static %}
{% block title %}
Dams Information
{% endblock title %}

{% block contents %}

  <section class="container mt-2">
    <div class="row ml-2 mr-2">
      {%  if  damlist%}
     {% for dl in damlist  %}
             <div class="col-lg-6">
                <div class="card">
                  <img class="card-img-top" src="{{dl.image.url}}" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title mb-3">{{dl.name}} <span class="text-right"> &emsp; &emsp; &emsp; &emsp; &emsp;Total Fishes: &nbsp; {{dl.no_fishes}} </span> </h4>
                    <p class="card-text"></p>
                    <p class="lead text-justify">{{dl.about}}</p>
                  </div>

                  <div class="card-footer rounded-0 bg-dark">
                    <span class="float-left">
                      <a href=" {% url 'fms:create_dam' %} " class="btn rounded btn-block  btn-danger"><i class="fas fa-plus"></i> New Dam</a>
                    </span>

                     <span class="float-right">
                      <a href="{% url 'fms:dam_edit' pk=dl.id %}"  class="btn  btn-secondary"> <i class="fas fa-edit"></i> &emsp; Update </a>
                    </span>
                  </div>
                </div>
              </div>

     {% endfor %}
     {% else %}
     <div class="text-center">
       <p class="display-info">No Dam Information</p>
       <a href="{% url 'fms:create_dam' %}" class="btn text-center btn-outline-info">
         Create a new Dam
       </a>
     </div>
     {%endif%}
    </div>
  </section>

{% endblock contents  %}